asgiref==2.3.2
async-timeout==3.0.1
attrs==18.2.0
autobahn==19.1.1
Automat==0.7.0
boto==2.49.0
CacheControl==0.12.6
cachetools==4.1.0
certifi==2018.11.29
channels==2.1.6
chardet==3.0.4
constantly==15.1.0
daphne==2.2.4
decorator==4.3.0
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.1.4
django-allauth==0.22.0
django-bootstrap3==11.0.0
django-ckeditor==5.9.0
django-decouple==2.1
django-djconfig==0.10.0
django-environ==0.4.5
django-firebase-orm==0.3
django-haystack==3.0b1
django-infinite-scroll-pagination==1.1.0
django-js-asset==1.2.2
django-language-detect==1.0.1
django-ses-gateway==0.1.1
django-simple-pagination==1.3
django-six==1.0.4
django-spirit==0.8.0
django-storages==1.9.1
django-telegram-login==0.2.3
firebase-admin==4.2.0
google-api-core==1.17.0
google-api-python-client==1.8.2
google-auth==1.14.2
google-auth-httplib2==0.0.3
google-cloud-core==1.3.0
google-cloud-firestore==1.6.2
google-cloud-storage==1.28.1
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
grpcio==1.28.1
gunicorn==20.0.4
httplib2==0.17.3
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
lxml==4.5.0
microurl==0.1.1
mistune==0.8.4
msgpack==1.0.0
oauthlib==3.0.0
olefile==0.46
Pillow==6.2.0
protobuf==3.18.3
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
public==2018.11.20
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyHamcrest==1.9.0
PyJWT==1.7.1
python-http-client==3.2.7
python3-openid==3.1.0
pytz==2018.7
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
self==2018.11.20
sendgrid==6.3.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.0.0
sorl-thumbnail==12.4a1
sqlparse==0.3.1
Twisted==18.9.0
txaio==18.8.1
uritemplate==3.0.1
urllib3==1.24.1
whitenoise==5.0.1
Whoosh==2.7.4
zope.interface==4.6.0
