{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/choices.min.css' %}">
  {#    <link rel="stylesheet" href="{% static 'js/choices.min.js' %}">#}
  <script type="text/javascript" src="{% static 'js/choices.min.js' %}"></script>
  <title>Online Valley</title>
  <!-- Bootstrap Core CSS -->
  <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Menu CSS -->
  <link href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">
  <!-- Menu CSS -->
  <link href="{% static 'bower_components/morrisjs/morris.css' %}" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>

<body>
  <!-- Preloader -->
  {#    <div class="preloader">#}
  {#        <div class="cssload-speeding-wheel"></div>#}
  {#    </div>#}
  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
      <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)"
          data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
        <div class="top-left-part"><a class="logo" href="{% url 'deals-home' %}">
            <!-- <img src="{% static 'images/tembc-logo.png' %}" width="30px">&nbsp; -->
            <span class="">Online<strong>Valley</strong></span></a></div>
        <ul class="nav navbar-top-links navbar-left hidden-xs">
          <li><a href="javascript:void(0)" class="open-close hidden-xs hidden-lg
 waves-effect waves-light"><i class="ti-arrow-circle-left ti-menu"></i>
            </a></li>
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
          {% if user.is_authenticated %}
          <li>
            <a class="profile-pic" href="{% url 'profile' %}"> <img src="{{ user.profile.image.url }}" alt="user-img"
                width="36" height="36" class="img-circle"><b class="hidden-xs">{{ user.username }}</b> </a>
          </li>
          <li>
            <a href="{% url 'logout'%}">{% trans 'Выйти' %}</a>
          </li>
          {% else%}
          <li>
            <a href="{% url 'login'%}">{% trans 'Войти' %}</a>
          </li>
          <li>
            <a href="{% url 'register'%}" style="color: white;background: var(--primary)">{% trans 'Регистрация' %}</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <!-- /.navbar-header -->
      <!-- /.navbar-top-links -->
      <!-- /.navbar-static-side -->
    </nav>
    <div class="navbar-default sidebar nicescroll" role="navigation">
      <div class="sidebar-nav navbar-collapse ">
        <ul class="nav" id="side-menu">
          <li class="sidebar-search hidden-sm hidden-md hidden-lg">
          </li>
          <li>
            <a href="{% url 'deals-home' %}" class="waves-effect"><i class="ti-layers-alt fa-fw"></i>
              {% trans 'Проекты' %}</a>
          </li>

          <!-- <li>
            <a href="{% url 'blog' %}" class="waves-effect"><i class="fas fa-rss" style="margin-right: 8px;"></i>
              {% trans 'Блог' %}</a>
          </li> -->
          <li>
            <a href="{% url 'people' %}" class="waves-effect"><i class="ti-world fa-fw"></i> {% trans 'Люди' %}</a>
          </li>
          <li>
            <a href="{% url 'dialogs' %}" class="waves-effect d-flex align-items-center justify-content-between">
              <div><i class="ti-email fa-fw"></i>
                {% trans 'Сообщения' %}</div> {% if request.user.is_authenticated %} <div
                class="messages-unread-box hidden">
              </div>
              {%endif%}
            </a>
          </li>
          <li>
            <a href="{% url 'profile' %}" class="waves-effect"><i class="ti-user fa-fw"></i> {% trans 'Профиль' %}</a>
          </li>
          <li>
            <a href="{% url 'myideas' %}" class="waves-effect"><i class="ti-face-smile fa-fw"></i>
              {% trans 'Мои проекты' %}</a>
          </li>
          <li>
            <a href="{% url 'deal-create'%}" class="waves-effect">
              Создать идею/проект</a>
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- Page Content -->
    <div id="page-wrapper">
      <div class="container-fluid">
        {% block content %}

        {% endblock content %}

      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    <footer class="footer text-center"> 2020 &copy; OnlineValley </footer>
  </div>
  <!-- /#wrapper -->
  <!-- jQuery -->
  <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  {#    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>#}
  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <!-- Menu Plugin JavaScript -->
  <script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>
  <!--Nice scroll JavaScript -->
  <script src="{% static 'js/jquery.nicescroll.js' %}"></script>
  <!--Morris JavaScript -->
  <script src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
  <script src="{% static 'bower_components/morrisjs/morris.js' %}"></script>
  <!--Wave Effects -->
  <script src="{% static 'js/waves.js' %}"></script>
  <!-- Custom Theme JavaScript -->
  <script src="{% static 'js/myadmin.js' %}"></script>
  <script src="{% static 'js/dashboard1.js' %}"></script>

  {% if request.user.is_authenticated %}
  <script>
    // Unread messages
    $(document).ready(function () {
      let unread_box = $(".messages-unread-box");
      $.ajax({
        url: "{% url 'get_count_of_unread_messages' %}",
        success: function (data) {
          if (data.count > 0) {
            unread_box.html(
              "+" + data.count
            );
            unread_box.removeClass('hidden');
          }
        }
      });
    })
  </script>
  {%endif%}
</body>

</html>