{% extends 'extends/base.html' %}
{% block content %}
<!-- Page Header -->
<div class="page-header row no-gutters mb-3">
  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
    <span class="text-uppercase page-subtitle">Projects</span>
    <h3 class="page-title">Existing projects</h3>
  </div>
</div>
<!-- End Page Header -->
<div class="row">
  {% for deal in deals %}
  <div class="col-lg-4">
    <div class="card card-small card-post mb-4">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'deal-detail' deal.id %}">{{ deal.title }}</a></h5>
        <p class="card-text text-muted"> {{ deal.description|truncatechars:100 }}</p>
      </div>
      <div class="card-footer border-top d-flex">
        <div class="card-post__author d-flex">
          <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
            style="background-image: url( {{ deal.author.profile.image.url }});"></a>
          <div class="d-flex flex-column justify-content-center ml-3">
            <span class="card-post__author-name"><a
                href="{% url 'user-details' deal.author.username %}">{{ deal.author.username }}</a></span>
            <small class="text-muted">{{ deal.date_posted }}</small>
          </div>
        </div>
        <div class="my-auto ml-auto">
          <a class="btn btn-sm btn-white" href="#">
            <i class="far fa-bookmark mr-1"></i> Bookmark </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}