{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TeamByClick</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/landing.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid" id="main-wrapper">
		<header>
			<div class="row">
                <div class="col-md-12">
                    			<nav class="navbar navbar-expand-lg navbar-dark ">
					  <div><a class="navbar-brand" href="#">TeamBy<strong>Click</strong></a></div>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>
					  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					    <ul class="navbar-nav ">

					      <li class="nav-item">
					        <a href="{% url 'login' %}" class="btn btn-outline-primary">Войти</a>
					      </li>
					    <li class="nav-item">
					        <a href="{% url 'register' %}" class="btn btn-primary">Реєстрація</a>
					    </li>
					    </ul>

					  </div>
					</nav>
	<div class="header-text" id="">
		<h1 class="main-title">
			Як знайти команду для стартапу та реалізувати <br><strong>свою ідею</strong>?
		</h1>
		<a href="{% url 'deals-home' %}" class="btn btn-primary" id="big-btn">Начать поиск</a>

	</div>
                </div>

			</div>

	</header>
	<section class="work">
		<h1 class="mt-5">Знайти команду просто</h1>
		<div class="container">
			<div class="features">
			<div class="row">

				<div class="col-md-3">
					<div class="features-i">
						<i class="fas fa-rocket"></i>
					</div>
					<div class="features-title">
						<h6>Реєструєшся</h6>
					</div>
				</div>
				<div class="col-md-3">
					<div class="features-i">
						<i class="fas fa-lightbulb"></i>
					</div>
					<div class="features-title">
						<h6>Описуєш ідею(якщо є)</h6>
					</div>
				</div>
				<div class="col-md-3">
					<div class="features-i">
						<i class="fab fa-searchengin"></i>
					</div>
					<div class="features-title">
						<h6>Шукаєш людей за спеціальностями</h6>
					</div>
				</div>
				<div class="col-md-3">
					<div class="features-i">
						<i class="fas fa-users"></i>
					</div>
					<div class="features-title">
						<h6>Працюєш з командою</h6>
					</div>
				</div>
			</div>
		</div>

		</div>
	</section>
	<section class="story-area">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-1">
						</div>
						<div class="col-lg-7">
							<div class="story-box">
								<h5 class="text-uppercase">Давайте з самого початку</h5>
								<p>З кожним роком все більше людей намагається створити стартап. Проте не всі мають знайомих, які зможуть допомогти у реалізації ідеї. <br>Платформа <strong>Team by Click</strong> допоможе Вам, не виходячи з дому, відшукати бажаних спеціалістів.</p>
								<a href="{% url 'people' %}" class="btn btn-primary"><span class="mr-10">Знайти команду</span><span class="lnr lnr-arrow-right"></span></a>
							</div>
						</div>
					</div>
				</div>
			</section>

	</div>
	<div class="container-fluid contact-block">
		<h1 class="light-text">
			Напиши нам
		</h1>
		<p class="light-text">
			Поділися своїми враженнями від платформи
		</p>

		<form method="GET">
            {% csrf_token %}
		  <div class="form-row">
		    <div class="col">
		      <input type="text" class="form-control" placeholder="Ваше ім'я" name="name" id="name_id" required>
		    </div>
		    <div class="col">
		      <input type="Email" class="form-control" placeholder="Ваш Email" name="email" id="email_id" required>
		    </div>
		  </div>
		  <div class="form-row pt-3">
		  	<div class="col">
		  		<textarea class="form-control" name="message" id="message_id" cols="30" rows="10" placeholder="Ваше повідомлення" required></textarea>
		  	</div>

		  </div>
		  <div class="form-row justify-content-end pt-3">
		  	<button type="button" class="btn btn-primary" id="sub-btn">Відправити</button>
		  </div>

		</form>
        <div class="alert alert-info text-center" id="alert-success">
            {% trans 'Повідомлення відправлено' %}
        </div>
	</div>
	<footer>
		<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#">TeamBy<strong>Click</strong></a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse justify-content-end">

    <span class="navbar-text text-light">
      Усі права захищені
    </span>
  </div>
</nav>

	</footer>
{#    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>#}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="{% static 'js/contact.js' %}"></script>

{#	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>