{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in | TeamByClick</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <div class="main">
        <div class="container">
            <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container-log">

                <div class="signup-content">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                          </div>

                    {% endfor %}

            {% endif %}
                    <form method="POST" id="signup-form" class="signup-form">
                    {% csrf_token %}
                        <h2 class="form-title pb-5">{% trans 'Увійти в аккаунт' %}</h2>
{#                        <input type="email" class="form-input" name="email" required>#}
                        {% for field in form %}
                            <div class="form-group">
                                {% if field.name == 'username' %}
                                    <input type="text" placeholder="{% trans 'Введіть Ваш логін' %}" name="username" class="form-input">
                                {% endif %}
                                {% if field.name == 'password' %}
                                    <input type="password" placeholder="{% trans 'Введіть Ваш пароль' %}" name="password" class="form-input">
                                {% endif %}


                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="{% trans 'Увійти' %}"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        {% trans 'Не маєш аккаунта?' %} <a href="{% url 'register' %}" class="loginhere-link">{% trans 'Реєструйся тут' %}</a>
                    </p>
                </div>
            </div>
        </section>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="{% static 'js/reg.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>