{% extends 'extends/base.html' %}
{% load static %}
{% block content %}
    <div class="content-section">
            <form method="post">{% csrf_token %}
            <legend class="border-bottom mb-4">Join Us Today!</legend>
              <div class="form-group">
                  {% for field in form %}

                <p class="">
                    {{ field.label_tag }}<br>
                    {% if field.name == 'password1' or field.name == 'password2' %}
                        <input name="{{ field.name }}" class="form-control" type="password">
                        {% elif field.name == 'username' %}
                            <input name="{{ field.name }}" class="form-control" type="text" id="username-input">
                    {% else %}
                        <input name="{{ field.name }}" class="form-control" type="text">
                    {% endif %}

                    {% if field.help_text %}
                        <small class= "text_help"style="color: grey;">{{ field.help_text }}</small>
                    {% endif %}
                </p>

                {% for error in field.errors %}
                    <p class="text-primary">{{ error }}</p>
                {% endfor %}

        {% endfor %}
               <div class="form-group mt-2">
                <button class="btn btn-outline-primary" type="submit">Sign Up</button>
            </div>
              </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
{#                Already have Account?<a href="{% url 'login' %}" class="ml-2">Sign In</a>#}
            </small>
        </div>
    </div>
    <script src="{% static 'js/ajax-reg.js' %}"></script>
{% endblock content %}
